<ul class="breadcrumb">
    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        @Html.ActionLink("Home", "Index", "Home")
        <li class="active">
            / @ViewBag.Title
        </li>
    }
    else
    {
        <li class="active">
            HomeHomeHomeHomeHomeHomeHomeHomeHomeHomeHomeHomeHomeHomeHome
        </li>
    }

</ul>

