<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection1" connectionString="metadata=res://*/Models.MTOLVNModel.csdl|res://*/Models.MTOLVNModel.ssdl|res://*/Models.MTOLVNModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=muatheonline2;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="metadata=res://*/Models.MTOLVNModel.csdl|res://*/Models.MTOLVNModel.ssdl|res://*/Models.MTOLVNModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.28.36.145;initial catalog=nhmuapgn_muatheonline2014;persist security info=True;user id=nhmuapgn_thanhnx1911;password=Thanhnx@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MERCHANTCODE" value="MUATHEONLINEVN" />
    <add key="BANKCODE" value="123PAY" />
    <add key="PASSCODE" value="MUATHEONLINEVNhyNc4s8MKis" />
    <add key="SECURECODE" value="MUATHEONLINEVNzNc4Js7JsNsh" />
    <add key="CREATEORDER_URL" value="https://mi.123pay.vn/createOrder1" />
    <add key="QUERYORDER_URL" value="https://mi.123pay.vn/queryOrder1" />
    <!--<add key="MERCHANTCODE" value="MICODE"/>
    <add key="BANKCODE" value="123PAY"/>
    <add key="PASSCODE" value="MIPASSCODE"/>
    <add key="SECURECODE" value="MIKEY"/>
    <add key="CREATEORDER_URL" value="https://sandbox.123pay.vn/miservice/createOrder1"/>
    <add key="QUERYORDER_URL" value="https://sandbox.123pay.vn/miservice/queryOrder1"/>-->
    <add key="SERVERMAIL" value="smtp.gmail.com" />
    <add key="PORT" value="587" />
    <add key="USERMAIL" value="muatheonlinedotvn@gmail.com" />
    <add key="PASSWORD" value="thanhnx!(!!" />
    <!--<add key="SERVERMAIL" value="103.28.36.145" />
    <add key="PORT" value="25" />-->
    <add key="EnableSsl" value="true" />
    <!--<add key="USERMAIL" value="sales@muatheonline.vn" />
    <add key="PASSWORD" value="Thanhnx@123" />-->
    <add key="AppIDFB" value="731742650200878" />
    <add key="AppSecretFB" value="e460b089c0bb2ec99de7c1df963b22e6" />
    <add key="MaintenanceMode" value="false" />
    <add key="mailadmin" value="thanhnx.1911@gmail.com" />
    <add key="Servers" value="::1,14.162.161.86" />
    <add key="pageSize" value="20" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="404.html" />
    </customErrors>
    <compilation targetFramework="4.0" debug="true" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <roleManager defaultProvider="DefaultRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="DefaultRoleProvider" type="MTOLVN.Models.CustomRolesProvider" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>