@model List<VinEcom.Invoices.Web.Models.InvoiceProduction>
@foreach (var item in Model)
{
    <td>@item.ProdName</td>
    <td>@item.ProdPrice</td>
    <td>@item.ProdQuantity</td>
    <td>@item.ProdUnit</td>
}